body {
	height: 100vh;
	background:beige;
	position:relative;
	text-align:center;
}

h1 {
	margin-bottom:10px;
}

#container {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 600px;
	height: 600px;
	font-size: 0px;
	max-width: 90%;
	max-height: 65%;
}

#container div {
	display:inline-block;
	vertical-align:top;
}